################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatosB/.vs
/DatosB/bin
/DatosB/obj/Debug
/DatosB/obj/Release
/DatosB/obj
/LogicaB/.vs
/LogicaB/bin
/LogicaB/obj
/SetupAdminBiometricos/Setup
/Tests
*.dat
/Respaldo 20211203.sql
/Entregables
/Tablas Comunes.txt
/packages
/.vs/Interfaz3/CopilotIndices/17.14.670.39694
/.vs/Interfaz3/FileContentIndex
/.vs/Interfaz3/v17/DocumentLayout.backup.json
/.vs/Interfaz3/v17/DocumentLayout.json
/UpgradeLog.htm
