################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs/Interfaz3
*.htm
/.gitattributes
/packages
