<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="formatoFechaServidorSQL" value="dmy"/>
    <add key="fFechaIn" value="dd/MM/yyyy"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="correoSSL" value="True"/>
    <add key="correoHost" value="smtp.gmail.com"/>
    <add key="correoRemitente" value="remitente@gmail.com"/>
    <add key="correoPort" value="587"/>
    <add key="correoPwd" value="Devices2"/>
    <add key="correoDelivery" value="Network"/>
    <add key="passwordMRL" value="0820"/>
    <add key="tipoEnvio" value="0208"/>
    <add key="typeDownloadLogs" value="factory"/>
    <add key="tiempoEspera" value="100000"/>
    <add key="picturesFile" value="C:\BioTime\files\upload\202008\CKJF202560311"/>
    <add key="pictureSFoto" value="C:\ProperTime\imagenes"/>
    <add key="pcSecurity" value="secure"/>
    <add key="ccNovedades" value="jefe_rrhh@ejemplo.com"/>
  </appSettings>
</configuration>
