USE [Interfaz]
GO
/****** Object:  Table [dbo].[da_Correos]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[da_Correos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[correo] [varchar](60) NOT NULL,
	[tipo] [int] NULL,
 CONSTRAINT [PK_da_Correos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[da_DetalleDescarga]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[da_DetalleDescarga](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProceso] [int] NULL,
	[orden] [int] NULL,
	[LogTime] [datetime] NULL,
	[sn] [varchar](20) NULL,
	[LogDescr] [varchar](50) NULL,
	[LogDetailed] [varchar](max) NULL,
 CONSTRAINT [PK_da_DetalleDescarga] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[da_Parametros]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[da_Parametros](
	[PARANAME] [varchar](20) NOT NULL,
	[PARAVALUE] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[da_ProcesosDescarga]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[da_ProcesosDescarga](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_ProcesosDescarga] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_UsuariosUnicos]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UsuariosUnicos](
	[User ID] [varchar](10) NOT NULL,
	[nombre] [varchar](60) NULL,
	[idDepto] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_BADGES]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_BADGES](
	[badgenumber] [varchar](10) NULL,
	[nombre] [varchar](60) NULL,
	[idDepto] [int] NULL,
	[alterno] [varchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_HUELLAS]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_HUELLAS](
	[Badge] [varchar](40) NULL,
	[sName] [varchar](40) NULL,
	[sPassword] [varchar](40) NULL,
	[iPrivilege] [int] NULL,
	[bEnabled] [varchar](10) NULL,
	[FingerId] [int] NULL,
	[Flag] [int] NULL,
	[Template] [image] NULL,
	[Template1] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_Marcaciones]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_Marcaciones](
	[User ID] [varchar](10) NOT NULL,
	[Verify Date] [datetime] NOT NULL,
	[Verify Type] [int] NULL,
	[Verify State] [int] NULL,
	[WorkCode] [int] NULL,
	[sn] [varchar](20) NULL,
	[SENSORID] [varchar](5) NULL,
 CONSTRAINT [PK_Marcaciones] PRIMARY KEY CLUSTERED 
(
	[User ID] ASC,
	[Verify Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_ROSTROS]    Script Date: 18/03/2021 11:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_ROSTROS](
	[Badge] [varchar](40) NULL,
	[sName] [varchar](40) NULL,
	[sPassword] [varchar](40) NULL,
	[iPrivilege] [int] NULL,
	[bEnabled] [varchar](10) NULL,
	[iLength] [int] NULL,
	[Template] [image] NULL,
	[Template1] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
